[submodule "pack/git/start/vim-fugitive"]
	path = pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/catppuccin/start/catppuccin"]
	path = pack/catppuccin/start/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "pack/treesitter/start/nvim-treesitter"]
	path = pack/treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/lualine/start/lualine"]
	path = pack/lualine/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/git/start/gitsigns.nvim"]
	path = pack/git/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/themes/start/nvim-web-devicons"]
	path = pack/themes/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "pack/make/start/vim-dispatch"]
	path = pack/make/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/utils/start/cmdalias"]
	path = pack/utils/start/cmdalias
	url = https://github.com/vim-scripts/cmdalias.vim.git
[submodule "pack/explorer/start/oil.nvim"]
	path = pack/explorer/start/oil.nvim
	url = https://github.com/RicardoKovd/oil.nvim.git
[submodule "pack/haskell/start/haskell-vim"]
	path = pack/haskell/start/haskell-vim
	url = https://github.com/RicardoKovd/haskell-vim
[submodule "pack/treesitter/start/nvim-treesitter-textobjects"]
	path = pack/treesitter/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
